body {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: 1.42857;
    -webkit-font-smoothing: antialised;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: red; 
}

body input:required:valid,
body textarea:required:valid {
    color: green; 
}

.hidden {
    display: none;
}

section,
.main_head {
    position: relative; 
}

section h3,
.main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px; 
}

section {
    padding: 70px 0px 90px;
}

section h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 15px;
}

.s_descr_wrap {
    text-align: center;
}

.s_descr_wrap .s_descr {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    margin-bottom: 130px;
}

.s_descr_wrap .s_descr::after {
    content: "";
    width: 150px;
    height: 1px;
    left: 50%;
    margin-left: -75px;
    margin-top: 60px;
    position: absolute;
}

.main_head {
    min-height: 620px;
    padding-top: 20px;
}

.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loader_inner {
    background-image: url("../img/load.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
    float: left; }

svg {
    height: 90px;
    width: 90px;
    z-index: 100;
    position: relative;
}

.toggle_mnu {
    width: 60px;
    height: 60px;
    float: right;
    position: fixed;
    z-index: 100;
    border: none;
    z-index: 200;
    right: 100px;
    top: 100px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;

}

.toggle_mnu span {
    display: block;
}

.sandwich {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.sw-topper {
    position: relative;
    top: 0;
    width: 35px;
    height: 3px;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: -webkit-transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
}

.sw-bottom {
    position: relative;
    width: 35px;
    height: 3px;
     top: 7.5px;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: -webkit-transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
}

.sw-footer {
    position: relative;
    width: 35px;
    height: 3px;
    top: 15px;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sandwich.active .sw-bottom {
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sandwich.active .sw-footer {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); 
}

.top_mnu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
    right: 0;
    top: 0;
    display: none;
    font-size: 17px;
}
.top_mnu ul,
.top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top_mnu ul {
    margin-top: 180px;
    text-align: center;
}
.top_mnu ul a {
    color: #fff;
    display: block;
    padding: 20px 0;
    text-transform: uppercase;
}

.top_wrapper {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; 
}

.top_wrapper .top_descr {
    display: table-row; 
}

.top_wrapper .top_descr .top_centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.top_wrapper .top_text {
    display: inline-block; 
}

.top_wrapper .top_text p {
    margin: 0;
    text-transform: uppercase;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.top_wrapper .top_text h1 {
    display: inline-block;
    padding: 10px 35px;
    color: #fff;
    border: 8px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; 
  }

.main_footer {
    padding: 35px 0;
    font-size: 15px;
    font-weight: 300;
}

.main_footer .social_wrap {
    float: right;
    line-height: 0;
}

.main_footer .social_wrap ul {
    margin: 0;
}

.person {
    text-align: center;
}

.person img {
    max-width: 250px;
    display: inline-block;
    border-radius: 10%;
}

.list-style ul,
.list-style li {
    list-style-type: none;
}

.social_wrap li {
    display: inline-block;
    font-size: 30px;
    padding: 0 4px;
}

.s_portfolio ul,
.s_portfolio li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.s_portfolio li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    line-height: 2; 
}

.s_portfolio ul {
    margin-bottom: 50px;
}

.portfolio_item {
    display: none;
    padding: 0; 
}
 
.portfolio_item img {
    width: 100%;
}

.portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 20%;
}

.portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 20%;
}

.portfolio_item h3 {
    color: #fff;
    margin-bottom: 0;
}

.portfolio_item a {
    background-color: transparent;
    border: #fff 1px solid;
    padding: 2px 10px;
    display: inline-block;
}

.podrt_descr {
    background-color: #fff;
    max-width: 500px;
    margin: auto;
}

.podrt_descr p,
.podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; 
}

.podrt_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
}

.podrt_descr p {
    margin-top: 0;
    text-align: center;
}

.podrt_descr img {
    width: 100%;
}

.modal-box-content {
  position: relative;
}

